<tr class="field form-inline">
  <td><%= f.label :content %></td>
  <td><%= f.text_field :content, class: "form-control" %></td>
  <td class="correct-choose">
    <%= f.label :correct_answer %>
    <%= f.check_box :correct_answer %>
  </td>
  <td class="remove-choose">
    <button class="remove btn btn-danger btn-sm">
      <%= t "question.remove" %>
    </button>
  </td>
</tr>
