<footer class="footer">
  <small>
    <%= t "the" %><a href="http://www.railstutorial.org/"><%= t "ruby_on_rails_tutorial"%></a>
    <%= t "by" %><a href="http://www.michaelhartl.com/"><%= "micheal_hartl" %></a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/"><%= t "news" %></a></li>
    </ul>
  </nav>
</footer>
