<footer class="footer">
  <small>
    <%= t "home_page.the" %> <a href="http://www.railstutorial.org/"><%= t "home_page.ruby_on_rails_tutorial" %></a>
    <%= t "home_page.by" %><a href="http://www.michaelhartl.com/">
    <%= t "home_page.michael_hartl" %></a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/"><%= t "home_page.news" %></a></li>
    </ul>
  </nav>
</footer>
