<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.logo"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.home"), root_path %></li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= t "admin.user.admin" %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to t("admin.user.user_manage"), admin_users_path %>
                </li>
                <li>
                  <%= link_to t("admin.subject.subject_manage"), admin_subjects_path %>
                </li>
                <li>
                  <%= link_to t("admin.exam.exam_check"), admin_exams_path %>
                </li>
                <li>
                  <%= link_to t("admin.question.question_check"), admin_questions_path %>
                </li>


                <li class="divider"></li>
              </ul>
            </li>
          <% end %>
          <li><%= link_to t("layout.exams"), exams_path %></li>
          <li><%= link_to t("layout.contribute"), questions_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "layout.account" %><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("layout.profile"), current_user %></li>
              <li><%= link_to t("layout.setting"), edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("layout.logout"), destroy_user_session_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login"), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
